*{
    margin: 0px;
    padding: 0px;
      
    
}
h1{
    color: antiquewhite;

}
.fullscreen{
    position: fixed;
}
/* https://c.tenor.com/kyQa0fthNCIAAAAd/the-backrooms-flickering-lights.gif
https://c.tenor.com/kyQa0fthNCIAAAAd/the-backrooms-flickering-lights.gif
hhttps://c.tenor.com/kyQa0fthNCIAAAAd/the-backrooms-flickering-lights.gif
https://c.tenor.com/kyQa0fthNCIAAAAd/the-backrooms-flickering-lights.gif
https://c.tenor.com/kyQa0fthNCIAAAAd/the-backrooms-flickering-lights.gif
*/
.Wallpaper{
    background-image:url(https://64.media.tumblr.com/5e74dedeaac96dd556fac2d61f8de854/ff71c34ccb9d6583-70/s400x600/e0e6cf741cf4d7ce6c240195bfd1b762b167a5df.gifv
    );
  
    min-height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    background-attachment: fixed;
    background-position:50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter:  brightness(80%);
    height: 100%;
    width: 100%;
}
button{
    background-color: #232323;
    border-radius: 5px;
    width: 10vh;
    border-color: transparent;
    height: 20px;
    color: rgb(156, 156, 156);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: rgb(133, 33, 33);
}

.ng{
    max-width: max-content;
}
@media screen and (max-width: 540px) {
 
    .Info > #ng{
        font-size: 10px;
        word-wrap: break-word;
        width: 150px;
    }
    .Info > #ngg{
        font-size: 10px;
        word-wrap: break-word;
        display: block;
        align-content: flex-start;
        width: 150px;
    }
    .Info > .Sct{
        font-size: 11px;

    }
   .Info  #act{
    font-size: 12px;
    

   }
   .fullscreen  #m{
    font-size: 16px;
   }
   .center #avt{
height: 100px;
   }

   .Wallpaper .center{
    height: 230px;
    width: 50vh;
   }
  }

.center{
  background-color: rgba(0, 0, 0, 0.79);
    display: inline-flex;
    flex-direction: row;
    border-radius: 10px;
    width: 90vh;
    height: 270px;

}

.avatar{
    height: 100px;
    position: relative;
    top: 50%;
    margin-top: -50px;
    left: 14px;
    border-radius: 100px;

}

.sectioninfo{
    position:relative;
    display: inline;
    top: 35%;
    margin-top: -50px;
    left: 30px;

}

.Title{
    font-family: 'Quicksand', sans-serif;
    font-size: 21px;
    top: 50%;
    font-weight: 400px;
}

.Info{
    
    color: #cccccc ;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
font-weight: 400px;
flex-direction: column-reverse;
}

.Sct{
 font-size: 14x;
 color: white;
}

.Redes{
    position: relative;
    align-items: flex-start;
    display: flex;
    margin-top: 8px;
    margin-right: 50px;
}

.Notificacion {
    background-color: #000000a6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
  }
  .Notificacion-Item {
    display: flex;
    max-width: 600px;
    border-radius: 10px;
    width: 100%;
    background: rgb(23, 23 ,23);
    min-height: 300px;
    position: relative;
    padding: 35px;
    margin: 0 15px;
    transition: 0.3s ease;

  }


  .Notificacion-Item .close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    cursor: pointer;
  }
  body.Abierto .Notificacion {
    display: flex;
  }
  body.Abierto .Notificacion-Item {
    display: block;
    animation: popup 0.3s forwards;
  }
  body.Quitar .Notificacion-Item {
    animation: popupclose 0.3s forwards;
  }
  
  @keyframes popup {
    0% {
      transform: scale(0.9);
     
    }
    100% {
      transform: scale(1);
     
    }
  }
  @keyframes popupclose {
    0% {
      transform: scale(1);
    
    }
    100% {
      transform: scale(0.9);
    
    }
  }

